@charset "UTF-8";
.grid__row {
  font-size: 0; }

.grid__col--1 {
  display: inline-block;
  width: 8.33333%;
  font-size: 1.4rem; }

.grid__col--2 {
  display: inline-block;
  width: 16.66667%;
  font-size: 1.4rem; }

.grid__col--3 {
  display: inline-block;
  width: 25%;
  font-size: 1.4rem; }

.grid__col--4 {
  display: inline-block;
  width: 33.33333%;
  font-size: 1.4rem; }

.grid__col--5 {
  display: inline-block;
  width: 41.66667%;
  font-size: 1.4rem; }

.grid__col--6 {
  display: inline-block;
  width: 50%;
  font-size: 1.4rem; }

.grid__col--7 {
  display: inline-block;
  width: 58.33333%;
  font-size: 1.4rem; }

.grid__col--8 {
  display: inline-block;
  width: 66.66667%;
  font-size: 1.4rem; }

.grid__col--9 {
  display: inline-block;
  width: 75%;
  font-size: 1.4rem; }

.grid__col--10 {
  display: inline-block;
  width: 83.33333%;
  font-size: 1.4rem; }

.grid__col--11 {
  display: inline-block;
  width: 91.66667%;
  font-size: 1.4rem; }

.grid__col--12 {
  display: inline-block;
  width: 100%;
  font-size: 1.4rem; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

html {
  font-size: 62.5%; }

body {
  font-size: 0; }

.wrapper {
  width: 98rem;
  margin: 0 auto;
  font-size: 1.4rem;
  margin-top: 3rem; }

a {
  text-decoration: none;
  color: #4078c0; }

.left_panel {
  width: 23rem;
  display: inline-block;
  position: relative;
  font-size: 0; }

.left_panel--content {
  font-size: 1.4rem; }

.profile__avatar {
  max-width: 100%;
  font-size: 0;
  margin-bottom: 1rem;
  border-radius: 0.5rem; }

.owner_name {
  font-size: 2.5rem; }

.login {
  font-size: 2rem;
  font-weight: 200;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 1rem; }

.location {
  font-size: 1.4rem;
  font-weight: 100;
  padding-bottom: 0.5rem; }

.email {
  font-size: 1.4rem;
  font-weight: 100;
  color: #4078c0;
  padding-bottom: 0.5rem; }

.join_date {
  font-size: 1.4rem;
  font-weight: 100;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e6e6e6; }

.connection__follower--number {
  display: inline-block;
  width: 33.33%;
  font-size: 3rem;
  color: #4078c0;
  text-align: center;
  font-weight: 600;
  padding-top: 0.5rem; }

.connection__follower--word {
  display: block;
  font-size: 1rem;
  font-weight: 200;
  color: #3c3c3c;
  text-align: center;
  margin-top: -0.5rem; }

.connections {
  padding-bottom: 1rem;
  border-bottom: 1px solid #e6e6e6;
  font-size: 0; }

.organizations {
  font-size: 1.6rem;
  position: relative;
  display: block;
  padding-top: 1rem; }

.org_icon {
  background-color: #e29ca9;
  border: 0.5rem solid whitesmoke;
  margin-top: 0.25rem;
  display: block;
  position: relative;
  height: 4rem;
  width: 4rem; }

.main__panel {
  width: 73rem;
  float: right; }

.main__nav {
  width: 73rem;
  font-size: 0;
  margin-bottom: 1rem; }

.main__nav--link {
  font-size: 1.4rem;
  text-align: center;
  display: inline-block;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  background-color: white;
  color: black; }

.main__nav--link:first-child {
  border-bottom: 1px solid #e6e6e6;
  width: 13rem; }

.main__nav--link:nth-child(2) {
  border-top-right-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
  border-top: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  width: 13rem; }

.main__nav--link:nth-child(3) {
  border-bottom: 1px solid #e6e6e6;
  width: 48rem;
  display: inline-block;
  position: relative; }

.main__nav--buttonArea input {
  width: 10.5rem;
  height: 2.5rem;
  text-align: center;
  float: right; }

@font-face {
  font-family: "octicons";
  src: url("./octicons.eot?#iefix&v=c5a1d52cb40008f6d4ed65bf3f12d508b2fe8c88") format("embedded-opentype"), url("./octicons.woff?v=c5a1d52cb40008f6d4ed65bf3f12d508b2fe8c88") format("woff"), url("./octicons.ttf?v=c5a1d52cb40008f6d4ed65bf3f12d508b2fe8c88") format("truetype"), url("./octicons.svg?v=c5a1d52cb40008f6d4ed65bf3f12d508b2fe8c88#octicons") format("svg");
  font-weight: normal;
  font-style: normal; }
.octicon, .mega-octicon {
  font: normal normal normal 16px/1 octicons;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.mega-octicon {
  font-size: 32px; }

[class^=octicon-] {
  font-family: "octicons"; }

.octicon-alert:before {
  content: ""; }

.octicon-arrow-down:before {
  content: ""; }

.octicon-arrow-left:before {
  content: ""; }

.octicon-arrow-right:before {
  content: ""; }

.octicon-arrow-small-down:before {
  content: ""; }

.octicon-arrow-small-left:before {
  content: ""; }

.octicon-arrow-small-right:before {
  content: ""; }

.octicon-arrow-small-up:before {
  content: ""; }

.octicon-arrow-up:before {
  content: ""; }

.octicon-microscope:before, .octicon-beaker:before {
  content: ""; }

.octicon-bell:before {
  content: ""; }

.octicon-bold:before {
  content: ""; }

.octicon-book:before {
  content: ""; }

.octicon-bookmark:before {
  content: ""; }

.octicon-briefcase:before {
  content: ""; }

.octicon-broadcast:before {
  content: ""; }

.octicon-browser:before {
  content: ""; }

.octicon-bug:before {
  content: ""; }

.octicon-calendar:before {
  content: ""; }

.octicon-check:before {
  content: ""; }

.octicon-checklist:before {
  content: ""; }

.octicon-chevron-down:before {
  content: ""; }

.octicon-chevron-left:before {
  content: ""; }

.octicon-chevron-right:before {
  content: ""; }

.octicon-chevron-up:before {
  content: ""; }

.octicon-circle-slash:before {
  content: ""; }

.octicon-circuit-board:before {
  content: ""; }

.octicon-clippy:before {
  content: ""; }

.octicon-clock:before {
  content: ""; }

.octicon-cloud-download:before {
  content: ""; }

.octicon-cloud-upload:before {
  content: ""; }

.octicon-code:before {
  content: ""; }

.octicon-comment-add:before, .octicon-comment:before {
  content: ""; }

.octicon-comment-discussion:before {
  content: ""; }

.octicon-credit-card:before {
  content: ""; }

.octicon-dash:before {
  content: ""; }

.octicon-dashboard:before {
  content: ""; }

.octicon-database:before {
  content: ""; }

.octicon-clone:before, .octicon-desktop-download:before {
  content: ""; }

.octicon-device-camera:before {
  content: ""; }

.octicon-device-camera-video:before {
  content: ""; }

.octicon-device-desktop:before {
  content: ""; }

.octicon-device-mobile:before {
  content: ""; }

.octicon-diff:before {
  content: ""; }

.octicon-diff-added:before {
  content: ""; }

.octicon-diff-ignored:before {
  content: ""; }

.octicon-diff-modified:before {
  content: ""; }

.octicon-diff-removed:before {
  content: ""; }

.octicon-diff-renamed:before {
  content: ""; }

.octicon-ellipsis:before {
  content: ""; }

.octicon-eye-unwatch:before, .octicon-eye-watch:before, .octicon-eye:before {
  content: ""; }

.octicon-file-binary:before {
  content: ""; }

.octicon-file-code:before {
  content: ""; }

.octicon-file-directory:before {
  content: ""; }

.octicon-file-media:before {
  content: ""; }

.octicon-file-pdf:before {
  content: ""; }

.octicon-file-submodule:before {
  content: ""; }

.octicon-file-symlink-directory:before {
  content: ""; }

.octicon-file-symlink-file:before {
  content: ""; }

.octicon-file-text:before {
  content: ""; }

.octicon-file-zip:before {
  content: ""; }

.octicon-flame:before {
  content: ""; }

.octicon-fold:before {
  content: ""; }

.octicon-gear:before {
  content: ""; }

.octicon-gift:before {
  content: ""; }

.octicon-gist:before {
  content: ""; }

.octicon-gist-secret:before {
  content: ""; }

.octicon-git-branch-create:before, .octicon-git-branch-delete:before, .octicon-git-branch:before {
  content: ""; }

.octicon-git-commit:before {
  content: ""; }

.octicon-git-compare:before {
  content: ""; }

.octicon-git-merge:before {
  content: ""; }

.octicon-git-pull-request-abandoned:before, .octicon-git-pull-request:before {
  content: ""; }

.octicon-globe:before {
  content: ""; }

.octicon-graph:before {
  content: ""; }

.octicon-heart:before {
  content: "♥"; }

.octicon-history:before {
  content: ""; }

.octicon-home:before {
  content: ""; }

.octicon-horizontal-rule:before {
  content: ""; }

.octicon-hubot:before {
  content: ""; }

.octicon-inbox:before {
  content: ""; }

.octicon-info:before {
  content: ""; }

.octicon-issue-closed:before {
  content: ""; }

.octicon-issue-opened:before {
  content: ""; }

.octicon-issue-reopened:before {
  content: ""; }

.octicon-italic:before {
  content: ""; }

.octicon-jersey:before {
  content: ""; }

.octicon-key:before {
  content: ""; }

.octicon-keyboard:before {
  content: ""; }

.octicon-law:before {
  content: ""; }

.octicon-light-bulb:before {
  content: ""; }

.octicon-link:before {
  content: ""; }

.octicon-link-external:before {
  content: ""; }

.octicon-list-ordered:before {
  content: ""; }

.octicon-list-unordered:before {
  content: ""; }

.octicon-location:before {
  content: ""; }

.octicon-gist-private:before, .octicon-mirror-private:before, .octicon-git-fork-private:before, .octicon-lock:before {
  content: ""; }

.octicon-logo-gist:before {
  content: ""; }

.octicon-logo-github:before {
  content: ""; }

.octicon-mail:before {
  content: ""; }

.octicon-mail-read:before {
  content: ""; }

.octicon-mail-reply:before {
  content: ""; }

.octicon-mark-github:before {
  content: ""; }

.octicon-markdown:before {
  content: ""; }

.octicon-megaphone:before {
  content: ""; }

.octicon-mention:before {
  content: ""; }

.octicon-milestone:before {
  content: ""; }

.octicon-mirror-public:before, .octicon-mirror:before {
  content: ""; }

.octicon-mortar-board:before {
  content: ""; }

.octicon-mute:before {
  content: ""; }

.octicon-no-newline:before {
  content: ""; }

.octicon-octoface:before {
  content: ""; }

.octicon-organization:before {
  content: ""; }

.octicon-package:before {
  content: ""; }

.octicon-paintcan:before {
  content: ""; }

.octicon-pencil:before {
  content: ""; }

.octicon-person-add:before, .octicon-person-follow:before, .octicon-person:before {
  content: ""; }

.octicon-pin:before {
  content: ""; }

.octicon-plug:before {
  content: ""; }

.octicon-repo-create:before, .octicon-gist-new:before, .octicon-file-directory-create:before, .octicon-file-add:before, .octicon-plus:before {
  content: ""; }

.octicon-primitive-dot:before {
  content: ""; }

.octicon-primitive-square:before {
  content: ""; }

.octicon-pulse:before {
  content: ""; }

.octicon-question:before {
  content: ""; }

.octicon-quote:before {
  content: ""; }

.octicon-radio-tower:before {
  content: ""; }

.octicon-repo-delete:before, .octicon-repo:before {
  content: ""; }

.octicon-repo-clone:before {
  content: ""; }

.octicon-repo-force-push:before {
  content: ""; }

.octicon-gist-fork:before, .octicon-repo-forked:before {
  content: ""; }

.octicon-repo-pull:before {
  content: ""; }

.octicon-repo-push:before {
  content: ""; }

.octicon-rocket:before {
  content: ""; }

.octicon-rss:before {
  content: ""; }

.octicon-ruby:before {
  content: ""; }

.octicon-search-save:before, .octicon-search:before {
  content: ""; }

.octicon-server:before {
  content: ""; }

.octicon-settings:before {
  content: ""; }

.octicon-shield:before {
  content: ""; }

.octicon-log-in:before, .octicon-sign-in:before {
  content: ""; }

.octicon-log-out:before, .octicon-sign-out:before {
  content: ""; }

.octicon-smiley:before {
  content: ""; }

.octicon-squirrel:before {
  content: ""; }

.octicon-star-add:before, .octicon-star-delete:before, .octicon-star:before {
  content: ""; }

.octicon-stop:before {
  content: ""; }

.octicon-repo-sync:before, .octicon-sync:before {
  content: ""; }

.octicon-tag-remove:before, .octicon-tag-add:before, .octicon-tag:before {
  content: ""; }

.octicon-tasklist:before {
  content: ""; }

.octicon-telescope:before {
  content: ""; }

.octicon-terminal:before {
  content: ""; }

.octicon-text-size:before {
  content: ""; }

.octicon-three-bars:before {
  content: ""; }

.octicon-thumbsdown:before {
  content: ""; }

.octicon-thumbsup:before {
  content: ""; }

.octicon-tools:before {
  content: ""; }

.octicon-trashcan:before {
  content: ""; }

.octicon-triangle-down:before {
  content: ""; }

.octicon-triangle-left:before {
  content: ""; }

.octicon-triangle-right:before {
  content: ""; }

.octicon-triangle-up:before {
  content: ""; }

.octicon-unfold:before {
  content: ""; }

.octicon-unmute:before {
  content: ""; }

.octicon-unverified:before {
  content: ""; }

.octicon-verified:before {
  content: ""; }

.octicon-versions:before {
  content: ""; }

.octicon-watch:before {
  content: ""; }

.octicon-remove-close:before, .octicon-x:before {
  content: ""; }

.octicon-zap:before {
  content: "⚡"; }

/*# sourceMappingURL=main.css.map */
